<html>
    <head>
        <title>angular-stepper demo</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link href='dist/angular-stepper.css' rel='stylesheet' type='text/css'>
        <style>
        * {
            font-family: 'Roboto Slab', serif;
        }
        </style>
        <script src="//code.angularjs.org/1.2.7/angular.min.js"></script>
        <script src="./dist/angular-stepper.js"></script>
        <script>
        angular.module('demo', ['revolunet.stepper'])

        .controller('DemoController1', function($scope) {
            $scope.score = 42;
            $scope.minScore = 45;
            $scope.maxScore = 50;
        })

        .controller('DemoController2', function($scope) {
            $scope.score = 42;
            $scope.minScore = 45;
            $scope.maxScore = 50;
        });
        </script>
    <head>
    <body ng-app="demo">
        <a href="https://github.com/revolunet/angular-stepper"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        <h3>angular-stepper demo</h3>
        <div ng-controller="DemoController1">
            Score : {{ score }}<br>
            Min score : {{ minScore }}<br>
            Max score : {{ maxScore }}<br>
            <br>
            <div rn-stepper min="minScore" max="maxScore" ng-model="score"></div>
        </div>
        <div ng-controller="DemoController2">
            Score : {{ score }}<br>
            Min score : {{ minScore }}<br>
            Max score : {{ maxScore }}<br>
            <br>
            <div rn-stepper min="minScore" max="maxScore" label="point" ng-model="score"></div>
        </div>
    </body>
</html>
