$stepper-height: 40px;
$stepper-button-width: 40px;
$stepper-border-width: 1px;
$stepper-button-bg: #4D4DFF;
$stepper-value-bg: #eee;
$stepper-value-error: #FF3B34;
$stepper-value-disabled-color: #aaa;
div[rn-stepper] {
    box-sizing:border-box;
    border:1px solid #bbb;
    display:inline-block;
    height:$stepper-height + ($stepper-border-width * 2);
    &.ng-invalid-out-of-bounds {
        input {
            color: $stepper-value-error;
            border:3px solid $stepper-value-error;
        }
    }

    &[disabled] {
        input {
            color: $stepper-value-disabled-color;
            border: 0;
        }
    }

    button {
        box-sizing: border-box;
        appearance:none;
        margin:0;
        border:0;
        width: $stepper-button-width;
        height: $stepper-height;
        background: $stepper-button-bg;
        color: white;
        font-weight:bold;
        font-size:20px;
        outline: none;
        &[disabled] {
            opacity: 0.3;
        }
        &:active {
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
            background: darken($stepper-button-bg, 5%);
       }
    }
    input {
        vertical-align:top;
        padding: 0;
        background:$stepper-value-bg;
        text-align:center;
        display:inline-block;
        height:$stepper-height;
        line-height:$stepper-height;
        box-sizing:border-box;
    }
}
